---
import { getMonthName } from '$/utils'
const { frontmatter: post, url } = Astro.props.post
---
<div class="flex gap-6">
    <div class="sm:w-20 md:w-32">
        <div class="flex flex-col w-full text-center">
            <span class="text-6xl font-semibold text-gray-500">{ new Date(post.date).getDate() }</span>
            <span class="text-gray-500">{ `${getMonthName(post.date)} ${new Date(post.date).getFullYear()}` }</span>
        </div>
    </div>
    <div class="flex-1">
        <h4 class="text-2xl font-semibold hover:underline mb-2 text-theme-primary dark:text-theme-dark-primary">
            <a href={url} title={post.title}>{post.title}</a>
        </h4>
        <p class="text-lg leading-6 line-clamp-2 text-theme-secondary dark:text-theme-dark-secondary">
            {post.description}
        </p>
    </div>
</div>