---
import { SITE } from '$/config'
import MainLayout from '$/components/MainLayout.astro'
import BaseHead from '$/components/BaseHead.astro'
import Prose from '$/components/Prose.astro'

const { content } = Astro.props
---
<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={ content.title ? `${ SITE.title } | ${content.title}` : SITE.title } description={ content.description }/>
    </head>
    <MainLayout>
        <div class="py-4 mb-1">
            <div class="inline-flex gap-2 py-4"> <p class="text-theme-primary dark:text-theme-dark-primary">Tags:</p>
                { content.tags.length > 0 && content.tags.map(tag => <a class="px-4 py-0 rounded-full text-theme-primary bg-theme-dark-primary dark:bg-theme-primary dark:text-theme-dark-primary hover:bg-theme-primary hover:text-theme-dark-primary dark:hover:bg-theme-dark-primary dark:hover:text-theme-primary" href={`/tags/${tag}`} title={tag}>{tag}</a>) }
            </div>
            <h1 class="text-5xl font-extrabold text-theme-primary dark:text-theme-dark-primary">{ content.title }</h1>
            <h5 class="text-gray-500 dark:text-gray-100">
                <p class="text-gray-500 dark:text-gray-100">{ content.author }</p> |
                <span class="text-gray-400">{ new Intl.DateTimeFormat('en-US', { dateStyle: 'full' }).format(new Date(content.date))}</span>
            </h5>
        </div>
        <!--<img src={content.image} alt={content.title} />-->
        <Prose>
            <slot />
        </Prose>
    </MainLayout>
</html>